html {
  font-size: 16px;
  color: #333;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#paper h1 {
  text-align: center;
}
#paper #paper-container .exam-item {
  margin-bottom: 2rem;
}
#paper #paper-container .exam-item .qs-container {
  width: 95%;
  margin: 0 auto;
}
#paper #paper-container .exam-item .qs-container > li {
  margin-bottom: 1.2rem;
}
#paper #paper-container .exam-item .qs-container > li > div:not(:last-child) {
  margin-bottom: 0.4rem;
}
#paper #paper-container .exam-item .qs-container .q-info {
  font-size: 0.9rem;
}
#paper #paper-container .exam-item .qs-container .q-info .q-info-title {
  font-weight: bold;
}
#paper #paper-container .exam-item .qs-container .q-info .q-info-content {
  text-decoration: underline;
}
#paper #paper-container .exam-item .qs-container .q-Subject {
  font-size: 0.8rem;
}
#paper #paper-container .exam-item .qs-container .q-Answer .q-info-title {
  color: red;
}
#paper #paper-container .exam-item .qs-container .q-Answer .q-info-content {
  font-size: 1rem;
  text-decoration: none;
}
#paper #paper-container .exam-item .qs-container .q-Analysis {
  margin-top: 1rem;
  padding: 0.1px;
  padding-left: 3rem;
  padding-right: 2rem;
  background-color: #eee;
  border-left: #333 solid 0.6rem;
  position: relative;
}
#paper #paper-container .exam-item .qs-container .q-Analysis > span {
  display: inline-block;
  font-size: 0.9rem;
  color: #999;
  position: absolute;
  left: 0.8rem;
}
#paper #paper-container .exam-item .qs-container .q-Analysis > p {
  line-height: 2rem;
}
#paper #paper-container #sqs .q-Question,
#paper #paper-container #mqs .q-Question {
  margin-bottom: 0.5rem;
}
#paper #paper-container #sqs .q-Question .q-stem,
#paper #paper-container #mqs .q-Question .q-stem {
  margin-bottom: 0.5rem;
}
#paper #paper-container #sqs .q-Question ul,
#paper #paper-container #mqs .q-Question ul {
  margin-left: 1.1rem;
}
#paper #paper-container #sqs .q-Question ul li,
#paper #paper-container #mqs .q-Question ul li {
  line-height: 1.5rem;
}
