/* 文字 */
.text-main{
	color: #FB7299;
}
.text-main-hover{
	color: #FB85A7;
}
.text-main-disabled{
	color: #FB85A7;
}
/* 背景 */
.bg-main{
	background-color: #FB7299;
}
.bg-main-hover{
	background-color: #FB85A7;
}
.bg-main-disabled{
	background-color: #FB85A7;
}
/* #ifndef APP-PLUS-NVUE */
.f-list{
	display: flex;
	flex-wrap: wrap;
	padding-left: 15rpx;
	padding-right: 15rpx;
}
/* #endif */
.f-divided {
	height: 15rpx;
	background-color: #F5F5F4;
}


